$sgp-gray-95: #1A1A1A;
$sgp-gray-70: #333333;
$sgp-gray-50: #4C4C4C;
$sgp-gray-30: #666666;
$sgp-gray-20: #7F7F7F;
$sgp-gray-10: #999999;
$sgp-gray-5: #d1cfcf;
$sgp-gray-0: #e5e5e4;

$sgp-orange-5: #FCE5D8;
$sgp-orange-10: #FBD1B1;
$sgp-orange-20: #F9BD8B;
$sgp-orange-30: #F8A765;
$sgp-orange-50: #F6903F;
$sgp-orange-70: #F47C19;
$sgp-orange-95: #F76E00;

$sgp-white: #ffffff;
$sgp-blue: #354778;

$sgp-colors: (
  blue: $sgp-blue,
  white: $sgp-white,
  gray-95: $sgp-gray-95,
  gray-70: $sgp-gray-70,
  gray-50: $sgp-gray-50,
  gray-30: $sgp-gray-30,
  gray-20: $sgp-gray-20,
  gray-10: $sgp-gray-10,
  gray-5: $sgp-gray-5,
  gray-0: $sgp-gray-0,
  orange-5: $sgp-orange-5,
  orange-10: $sgp-orange-10,
  orange-20: $sgp-orange-20,
  orange-30: $sgp-orange-30,
  orange-50: $sgp-orange-50,
  orange-70: $sgp-orange-70,
  orange-95: $sgp-orange-95,
);


$sgp-headline-movil-fs: 25.6px;
$sgp-headline-movil-lh: 32px;
$sgp-headline-movil-ls: -0.3px;

$sgp-headline-tablet-fs: 28.8px;
$sgp-headline-tablet-lh: 36px;
$sgp-headline-tablet-ls: -0.336px;

$sgp-headline-desktop-fs: 32.44px;
$sgp-headline-desktop-lh: 40px;
$sgp-headline-desktop-ls: -0.336px;

// TITLE
$sgp-title-movil-fs: 20.3px;
$sgp-title-movil-lh: 24.3px;
$sgp-title-movil-ls: -0.352px;

$sgp-title-tablet-fs: 22.78px;
$sgp-title-tablet-lh: 32px;
$sgp-title-tablet-ls: -0.3px;

$sgp-title-desktop-fs: 22.8px;
$sgp-title-desktop-lh: 32px;
$sgp-title-desktop-ls: -0.3px;

// SUBTITLE
$sgp-subtitle-movil-fs: 18px;
$sgp-subtitle-movil-lh: 21.8px;
$sgp-subtitle-movil-ls: -0.352px;

$sgp-subtitle-tablet-fs: 20.25px;
$sgp-subtitle-tablet-lh: 24.3px;
$sgp-subtitle-tablet-ls: -0.352px;

// LABEL
$sgp-label-lower-ls: 0.1px;
$sgp-label-upper-ls: 0.5px;

$sgp-label-small-fs: 12.64px;
$sgp-label-small-lh: 16px;

$sgp-label-medium-fs: 14.22px;
$sgp-label-medium-lh: 17.1px;

$sgp-label-large-fs: 16px;
$sgp-label-large-lh: 19.2px;
$sgp-label-otp: 1.6rem;

// BODY
$sgp-body-medium-fs: 14.22px;
$sgp-body-medium-lh: 21.3px;
$sgp-body-medium-ls: 0px;

$sgp-body-large-fs: 16px;
$sgp-body-large-lh: 24px;
$sgp-body-large-ls: 0px;